.t-wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
} 
.t-small-wrapper {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
}
.t-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.buy-ticket {
    cursor: pointer;
    transition: all .15s ease-out;
    &__border {
        background-color: #fff;
        padding: 8px;
        border-radius: 40px;
        box-shadow: 15.427px 18.385px 24px 0px rgba(181, 194, 205, 0.4),
                    -21.925px -9.762px 24px 0px rgba(255, 255, 255, 0.004),
                    inset 0px 2px 16px 0px rgba(222, 232, 238, 0.004);
    }
    &__inner {
        img {
            margin: 0 10px 0 0;
        }
        font-family: FranxurterTotallyFat;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        letter-spacing: 0.025em;
        background-image: linear-gradient( 90deg, #355030 0%, #417836 100%);
        padding: 18px 40px 18px 40px;
        border-radius: 32px;
        text-transform: uppercase;
    }
    &:hover {
        .buy-ticket__border {
            background-color: #ccd3cb;
            transition: all .15s ease-out;
        }
    }
}

.btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FranxurterTotallyFat;
    font-size: 18px;
    line-height: 28px;
    padding: 12px 12px 12px 12px;
    border: 2px solid transparent;
    border-radius: 28px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    &:hover {
        transition: all .3s ease-in-out;
    }
    &__primary {
        max-width: 300px;
        transition: all .25s ease-in-out;
    }
    &__outline {
        border: 2px solid #3f593a;
        transition: all .25s ease-in-out;
    }
}

.age-limit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FranxurterTotallyFat;
    font-size: 24px;
    line-height: 26px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    letter-spacing: -0.08em;
}

.section {
    &__flex {
        display: flex;
        align-items: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__header {
        display: flex;
        align-items: center;
    }
    &__header--text-center {
        justify-content: center;
    }
    &__title {
        font-family: FranxurterTotallyFat;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;
    }
    &__more {
        display: flex;
        align-items: center;
        height: 32px;
        font-weight: 300;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #344d2f;
        padding: 0 30px 0 30px;
        border-radius: 16px;
        background-color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        &:hover {
            transition: all .3s ease-in-out;
        }
    }
}

.card {
    &__image {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
    }
    &__time {
        position: absolute;
        bottom: 0;
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 32px;
        font-size: 13px;
        line-height: 32px;
        color: #fff;
        background-color: rgba(25, 25, 25, 0.639);
    }
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }
    &__content {
        background-color: #fff;
        padding: 23px 32px 25px 32px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        box-shadow: 0px 16px 48px 0px rgba(195, 195, 195, 0.24);
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    }
}

.age-filter {
    display: flex;
    align-items: center;
    &__text {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 5px 0 0;
    }
    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        &:not(:last-child) {
            margin: 0 5px 0 0;
        }
    }
    &__link {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 89px;
        height: 32px;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.025em;
        border: 2px dotted #fff;
        border-radius: 16px;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        
        &:hover {
            color: #fefefe;
            background-color: #2e4429;
            border: 2px dotted #2e4429;
            transition: all .3s ease-in-out;
            &.active {
                cursor: inherit;
                color: #344d2f;
                border: 2px dotted #fff;
            }
        }
        &.active {
            font-weight: 900;
            color: #344d2f;
            background-color: #fff;
        }
    }
}

.selection-filter {
    display: flex;
    align-items: center;
    &__text {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 5px 0 0;
    }
    &__field {
        width: 273px;
    }
    &__select {
        appearance: none;
        outline: none;
        display: flex;
        flex: 0 0 273px;
        max-width: 100%;
        width: 100%;
        font-weight: 900;
        font-style: italic;
        font-size: 14px;
        line-height: 24px;
        color: #344d2f;
        background-color: #fff;
        background-image: url(/img/dest/pages/select-arrow.png);
        background-repeat: no-repeat,repeat;
        background-position: right top 50% ;
        padding: 4px 33px 4px 13px;
        margin: 0;
        background-size: 32px 32px;
        border-radius: 12px;
        border: 1px dotted #344d2f;
    }
      
}


.newsletter {
    padding: 50px 0 127px 0;
    &__decor {
        position: absolute;
        right: -105px;
        top: -50px;
        z-index: 2;
    }
    &__item {
        position: relative;
        border-radius: 24px;
        &-form {
            padding: 60px 63px 65px 63px;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        color: #344d2f;
        background-color: #fff;
        text-decoration: none;
        padding: 40px 43px 45px 43px;
        transition: all .3s ease-in-out;
        .newsletter__text {
            max-width: 330px;
            letter-spacing: 0;
        }
        &:hover {
            color: #344d2f;
            background-color: rgba(52, 77, 47, .1);
            transition: all .3s ease-in-out;
        }
        &-container {
            display: flex;
        }
    }
    &__logo {
        margin: 0 0 0 60px;
    }
    &__title {
        font-family: FranxurterTotallyFat;
        font-size: 40px;
        line-height: 32px;
        margin: 0 0 18px;
    }
    &__text {
        max-width: 345px;
        font-size: 300px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        margin: 0 0 25px 0;
    }
    &__form {
        box-sizing: border-box;
    }
    &__field {
        position: relative;
        max-width: 385px;
        width: 100%;
    }
    &__input {
        max-width: 385px;
        width: 100%;
        font-weight: 900;
        font-size: 14px;
        line-height: 24px;
        color: #344d2f;
        background-color: #fad6a5;
        padding: 16px 150px 16px 25px;
        border-radius: 24px;
        border: none;
        &::placeholder {
            color: #71826d;
        }
    }
    &__submit {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 136px;
        height: 40px;
        font-family: FranxurterTotallyFat;
        font-size: 16px;
        line-height: 24px;
        color: #ba551d;
        letter-spacing: 0.01em;
        background-color: #fac57d;
        border-radius: 20px;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: #e1b171;
            transition: all .3s ease-in-out;
        }
    }
    &__bg {
        background-image: url(/img/dest/global/newsletter__bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.link-decor {
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        bottom: 3px;
        border-bottom: 1px dotted #fac57d;
    }
}

.share {
    &__container {
        padding: 21px 0;
        margin: 56px 0 0 0;
        border-top: 2px solid #e5e9ea;
    }
    &__title {
        font-weight: 900;
    }
    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 18px 0 0 0;
    }
    &__item {
        &:not(:last-child) {
            margin: 0 8px 0 0;
        }
    }
    &__link {
        display: flex;
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: 2px solid #344d2f;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: #344d2f;
            transition: all .3s ease-in-out;
        }
    }
    &__link--vk {
        background-image: url(/img/dest/menu/vk-icon__green.png);
        transition: all .3s ease-in-out;
        &:hover {
            background-image: url(/img/dest/menu/vk-icon__colored.png);
            transition: all .3s ease-in-out;
        }
    }
    &__link--twitter {
        background-image: url(/img/dest/menu/twitter-icon__green.png);
        transition: all .3s ease-in-out;
        &:hover {
            background-image: url(/img/dest/menu/twitter-icon__colored.png);
            transition: all .3s ease-in-out;
        }
    }
    &__link--facebook {
        background-image: url(/img/dest/menu/facebook-icon__green.png);
        transition: all .3s ease-in-out;
        &:hover {
            background-image: url(/img/dest/menu/facebook-icon__colored.png);
            transition: all .3s ease-in-out;
        }
    }
    &__link--odnoklassniki {
        background-image: url(/img/dest/menu/odnoklassniki-icon__green.png);
        transition: all .3s ease-in-out;
        &:hover {
            background-image: url(/img/dest/menu/odnoklassniki-icon__colored.png);
            transition: all .3s ease-in-out;
        }
    }
}

.bottom-container {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.back-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.024em;
    color: #a5b6bd;
    padding: 5px 30px;
    margin: 0 auto;
    border: 2px solid #bfcacf;
    border-radius: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
        color: #a5b6bd;
        background-color: #fff;
        transition: all .3s ease-in-out;
    }
    &__icon {
        width: 14px;
        height: 13px;
        margin: 0 8px 0 0;
    }
}
.see-also {
    max-width: 1920px;
    background-color: #fff;
    margin: 0 auto 60px;
    &__container {
        position: relative;
        max-width: 920px;
        padding: 49px 0;
        margin: 0 auto;
        .section__header {
            margin: 0 0 30px 0;
        }
    }
    .repertoire-slide {
        .card__title {
            color: #344d2f;
        }
        &:hover {
            .card__title {
                color: #fff;
            }
        }
    }
    .repertoire-slide__text {
        color: #344d2f;
    }
}