.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        margin: 0 0 31px 0;
    }
}

.main-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 32px;
    padding: 8px 8px 8px 40px;
    margin: 0 0 -32px 0;
    z-index: 3;
    &__list {
        max-width: 1010px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {

    }
    &__link {
        font-weight: 900;
        font-size: 17px;
        line-height: 28px;
        color: #344d2f;
        text-decoration: none;
        &:hover {
            color: #72866e;
            
        }
    }
    &__dropdown {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: -15px;
            top: 50%;
            width: 10px;
            height: 8px;
            background-image: url(/img/dest/menu/menu-arrow-down.png);
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }
        &:hover {
            .main-menu__dropdown-content {
                display: block;
            }
            &::before {
                content: '';
                position: absolute;
                right: -15px;
                top: 50%;
                width: 10px;
                height: 8px;
                background-image: url(/img/dest/menu/menu-arrow-down--hover.png);
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }
    }
    &__dropdown-content {
        display: none;
        background-color: #fff;
        position: absolute;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
    &__search {
        max-width: 250px;
        width: 100%;
    }
    &__search-input {
        max-width: 250px;
        font-weight: 900;
        font-size: 18px;
        line-height: 28px;
        background-color: rgba(248, 250, 251, 0.4);
        background-image: url(/img/dest/menu/search-icon.png);
        background-repeat: no-repeat;
        background-position: right 10% center;
        padding: 14px 40px 14px 25px;
        border: none;
        border-radius: 28px;
        box-shadow: inset 0px 3px 18px 0px rgba(144, 165, 177, 0.2);
        &::placeholder {
            color: #a4b5bc;
        }
          
    }

}

.dropdown-content {
    min-width: 160px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0, 0.2), 
                0 4px 20px 0 rgba(0,0,0, 0.2);
    border-radius: 5px;
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
    }
    &__link {
        width: 100%;
        display: block;
        padding: 8px 16px;
        border: none;
        white-space: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 28px;
        color: #344d2f;
        text-decoration: none;
        &:hover {
            color: #72866e;
            
        }
    }
}

.header-nav {
    &__logo {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 18px;
        line-height: 26px;
        color: #344d2f;
        text-decoration: none;
        transition: all .25s ease-out;
        img {
            margin: -9px 25px 0 0;
            padding: 0 0 0 5px;
        }
        p {
            max-width: 200px;
            margin: 0;
        }
        &:hover {
            color: #71826d;
            transition: all .25s ease-out;
        }
    }
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 885px;
    width: 100%;
    font-family: Roboto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #272827;
    }
    &__item--address .header-list__link {
        background-image: url(/img/dest/header/map-icon__header.png);
        padding: 0 0 0 16px;
    }
    &__item--phone .header-list__link{
        background-image: url(/img/dest/header/phone-icon__header.png);
        padding: 0 0 0 22px;
    }
    a {
        color: #272827;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__link {
        cursor: pointer;
        display: inline-flex;
        position: relative;
        font-weight: 900;
        font-size: 14px;
        line-height: 28px;
        background-repeat: no-repeat;
        background-position: left;
        text-align: right;
        color: #344d2f;
        span {
            position: relative;
            
            &::before {
                content: '';
                position: absolute;
                bottom: 6px;
                left: 0;
                width: 100%;
                border-bottom: 1px dotted #385033;
                transition: all 0.15s ease-out;
            }
        }
        &:hover {
            span {
                color: #2f452a;
                &::before {
                    bottom: 4px;
                    border-bottom: 1px dotted #32482e;
                    transition: all 0.15s ease-out;
                }
            }
        }
        
    }
}

.view-switch {
    display: flex;
    justify-content: flex-end;
    &__btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        max-width: 256px;
        width: 100%;
        height: 80px;
        background-color: #fff;
        padding: 0 0 15px 0;
        margin: -40px 0 0 0;
        border-radius: 40px;
        transition: all .25s ease-out;
        &:hover {
            background-color: #ccd3cb;
            transition: all .25s ease-out;
        }
    }
    &__link {
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        background-image: url(/img/dest/header/pooreye-icon__header.png);
        background-repeat: no-repeat;
        background-position: left;
        padding: 0 0 0 23px;
    }
}