@media (max-width: 400px) {
    .welcome-slider-container {
        height: 800px;
    }

    .welcome-slide__date {
        font-size: 14px;
    }

    .newsletter__input {
        padding: 16px 25px 16px 25px;
    }

    .newsletter__submit {
        position: relative;
        top: auto;
        right: auto;
        background-color: #fad6a5;
        margin: 15px 0 0 0;
    }
}

@media (max-width: 480px) {

    .welcome-repertoire .age-filter__link {
        width: 60px;
    }
    .page-filter .age-filter__link {
        width: 60px;
    }
    .page-filter__selection:first-child {
        margin: 0 0 15px 0;
    }
    .page-filter__selection,
    .page-filter .selection-filter,
    .page-filter .selection-filter__field
     {
        width: 100%;
    }
}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
    .view-switch {
        justify-content: center;
        margin: 0 0 15px;
    }

    .header-nav__logo {
        font-size: 16px;
        line-height: 18px;

        img {
            width: 60px;
            margin: 0px 10px 0 0;
        }
    }

    .welcome-slide__title {
        font-size: 46px;
        line-height: 44px;
    }

    .welcome-slide__date {
        flex-wrap: wrap;
    }

    .welcome-slide__age {
        margin: 15px 0 0 0;
    }

    .newsletter__decor {
        display: none;
    }

    .newsletter__item-form,
    .newsletter__link {
        padding: 40px 32px 40px 32px;
    }

    .section__title {
        margin: 0 10px 15px 0 !important;
    }

    .section__more {
        margin: 0 0 15px 0;
    }

    .section__header {
        flex-wrap: wrap;
    }

    .newsletter__link-container {
        flex-direction: column;
    }

    .newsletter__logo {
        margin: 0 auto;
    }
    .history-day__item {
        flex-direction: column;
    }
    .history-day .info-badge {
        margin: 0 auto;
    }
    .document-card {
        padding: 24px;
    }
}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
    .header__nav {
        justify-content: space-evenly !important;
    }

    .header-list {
        display: none;
    }

    .welcome-repertoire__nav {
        flex-direction: column;
        align-items: center;
    }

    .welcome-repertoire__nav li:not(:last-child) {
        margin: 0;
    }

    .section__title {
        font-size: 32px;
        line-height: 34px;
        margin: 0px 10px 0 0;
    }

    .section__more {
        font-size: 11px;
    }

    .welcome-repertoire .age-filter {
        margin: 10px 0 0 0;
    }

    .welcome-projects__card {
        height: auto;
        margin: 0 0 30px 0;
    }

    .welcome-projects__card-content {
        border-radius: 24px;
    }

    .page-nav__menu {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* Add Touch support */
    }

    .page-nav__menu .page-nav__item {
        flex: 0 0 auto;
        width: auto;
        padding: 5px 20px;
    }

    .timeline-photo__item {
        margin: 0 0 30px 0;
    }

}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) {
    .main-menu {
        display: none;
    }

    .burger {
        display: flex;
    }

    .welcome-slide {
        padding: 0;
    }

    .welcome-slider-container .swiper-button-next,
    .welcome-slider-container .swiper-button-prev {
        display: none;
    }

    .welcome-slider-container .swiper-pagination {
        display: block;
    }

    .section__wrapper {
        flex-wrap: wrap;
    }

    .repertoire-slider__nav .swiper-button-next,
    .repertoire-slider__nav .swiper-button-prev {
        display: none;
    }

    .repertoire-slider .swiper-pagination {
        display: block;
    }

    .repertoire-slider__decor-item {
        display: none;
    }

    .welcome-repertoire__nav {
        margin: 30px 0 0 0;
    }

    .newsletter__item {
        margin: 0 0 30px 0;
    }

    .newsletter__decor {
        right: 25px !important;
    }
    .page-nav {
        padding: 56px 0;
    }

}

@media (max-width: 1110px) {
    .header__nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-nav__logo {
        margin: 0;
    }

    .header-list {
        flex: 0 0 100%;
    }

    .page-nav {
        &__menu {
            width: 100%;
        }

        &__item {
            width: 100%;
        }

        &__link {
            padding: 11px 0 !important;
        }

    }
}

// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1200px) {
    .main-menu {
        flex-wrap: wrap;
    }

    .main-menu__search {
        margin: 10px 0 0 0;
    }

    .newsletter__decor {
        right: -37px;
        bottom: -3px !important;

        img {
            width: 115px !important;
        }
    }

    .footer__item {
        height: auto;
    }

    
}

@media (max-width: 1399.9px) {
    .newsletter__decor {
        right: -60px;
        top: auto;
        bottom: -6px;

        img {
            width: 215px;
        }
    }

    .page-nav__link {
        padding: 11px 40px;
    }
    .timeline-slider__container {
        margin: 0 auto 70px;
    }
    .timeline__controls {
        top: 120px;
    }
    .timeline-slider .swiper-button-prev {
        left: 35%;
    }
    .timeline-slider .swiper-button-next {
        right: 35%;
    }
}

@media (max-width: 1428px) {
    .blog-card {
        flex-direction: column;
        &__image {
            max-width: 100%;
            border-top-right-radius: 24px;
            border-bottom-left-radius: 0;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .card {
            &__content {
                border-top-right-radius: 0;
                border-bottom-left-radius: 24px;
            }
        }
    }
}


@media (max-width: 1500px) {
    .repertoire-slide__image {
        max-height: 350px;
        overflow: hidden;
    }
}