.blog-card {
    display: flex;
    margin: 0 0 30px 0;
    text-decoration: none;
    &__image {
        flex: 0 0 330px;
        max-width: 330px;
        width: 100%;
        max-height: 440px;
        height: 100%;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            transition: all .3s ease-in-out;
        }
    }
    &__date {
        font-size: 13px;
        line-height: 32px;
        color: #a4b5bc;
        padding: 5px 0 10px 0;
        margin: 0 0 29px 0;
        border-bottom: 1px solid rgba(191, 202, 207, .24) ;
    }
    .card {
        &__content {
            border-top-right-radius: 24px;
            border-bottom-left-radius: 0;
        }
        &__title {
            color: #344d2f;
            margin: 0 0 15px 0;
            overflow: hidden; /* include for safety */
            display: -webkit-box; /* setting a block element  */
            -webkit-box-orient: vertical; /* companion class   */
            -webkit-line-clamp: 3; /* number of lines  */
        }
        &__text {
            font-size: 16px;
            line-height: 26px;
            color: #272827;
            overflow: hidden; /* include for safety */
            display: -webkit-box; /* setting a block element  */
            -webkit-box-orient: vertical; /* companion class   */
            -webkit-line-clamp: 8; /* number of lines  */
        }
    }
    &:hover {
        .blog-card__image img {
            transform: scale(1.05);
            transition: all .3s ease-in-out;
        }
    }
}

.blog-article {
    max-width: 930px;
    width: 100%;
    background-color: #fff;
    padding: 58px 20px;
    margin: 0 auto;
    border-radius: 24px;
    &__container {
        max-width: 690px;
        width: 100%;
        margin: 0 auto;
    }
    &__lightbox {
        position: relative;
        display: flex;
        height: 220px;
        border-radius: 24px;
        overflow: hidden;
        margin: 0 0 30px 0;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        &:hover {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(25,25,25,.639);
                background-image: url(/img/dest/pages/gallery-zoom-icon.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 120px 120px;
                transition: all .3s ease-in-out;
            }
        }
    } 
    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 30px 0;
        text-align: center;
    }
    &__text {
        font-size: 16px;
        line-height: 26px;
        margin: 23px 0 0 0;
        p {
            margin-bottom: 23px;
        }
    }
}