.blog-card {
    display: flex;
    margin: 0 0 30px 0;
    text-decoration: none;
    &__image {
        flex: 0 0 330px;
        max-width: 330px;
        width: 100%;
        max-height: 440px;
        height: 100%;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            transition: all .3s ease-in-out;
        }
    }
    &__date {
        font-size: 13px;
        line-height: 32px;
        color: #a4b5bc;
        padding: 5px 0 10px 0;
        margin: 0 0 29px 0;
        border-bottom: 1px solid rgba(191, 202, 207, .24) ;
    }
    .card {
        &__content {
            border-top-right-radius: 24px;
            border-bottom-left-radius: 0;
        }
        &__title {
            color: #344d2f;
            margin: 0 0 15px 0;
            overflow: hidden; /* include for safety */
            display: -webkit-box; /* setting a block element  */
            -webkit-box-orient: vertical; /* companion class   */
            -webkit-line-clamp: 3; /* number of lines  */
        }
        &__text {
            font-size: 16px;
            line-height: 26px;
            color: #272827;
            overflow: hidden; /* include for safety */
            display: -webkit-box; /* setting a block element  */
            -webkit-box-orient: vertical; /* companion class   */
            -webkit-line-clamp: 8; /* number of lines  */
        }
    }
    &:hover {
        .blog-card__image img {
            transform: scale(1.05);
            transition: all .3s ease-in-out;
        }
    }
}

.blog-article {
    max-width: 930px;
    width: 100%;
    background-color: #fff;
    padding: 40px 20px;
    margin: 0 auto;
    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 56px;
    }
    &__text {
        font-size: 16px;
        line-height: 26px;
    }
}