.page-nav {
    position: relative;
    padding: 82px 0 56px;
    background-repeat: no-repeat;
    background-size: cover;
    .section__title {
        color: #fff;
        margin: 0 0 22px 0;
    }
    &__container {
        display: flex;
        justify-content: center;
    }
    &__menu {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        border-radius: 24px;
    }
    &__menu--green {
        border: 3px solid #3a5735;
        background-color: #3a5735;
        box-shadow: 0px 8px 40px 0px rgba(54, 79, 49, 0.16);
        .page-nav__item:hover {
            .page-nav__link {
            
                color: #344d2f;
            }
        }
        .page-nav__item.active .page-nav__link {
            color: #344d2f;
        }
    }
    &__bg--green {
        background-image: url(/img/dest/menu/page-nav__bg--green.png);
    }
    &__menu--terracotta {
        border: 3px solid #b95039;
        background-color: #b95039;
        box-shadow: 0px 8px 40px 0px rgba(177, 135, 49, 0.16);
        .page-nav__item:hover {
            .page-nav__link {
            
                color: #b95039
            }
        }
        .page-nav__item.active .page-nav__link {
            color: #b95039;
        }
          
    }
    &__bg--terracotta {
        background-image: url(/img/dest/menu/page-nav__bg--terracotta.png);
    }
    &__menu--cream {
        border: 3px solid #dcac49;
        background-color: #dcac49;
        box-shadow: 0px 8px 40px 0px rgba(177, 135, 49, 0.16);
        .page-nav__item:hover {
            .page-nav__link {
                color: #dcac49;
            }
        }
        .page-nav__item.active .page-nav__link {
            color: #dcac49;
        }
        .page-nav__item:not(:last-child)::before {
            background-color: #eec268;
        }
    }
    &__bg--cream {
        background-image: url(/img/dest/menu/page-nav__bg--cream.png);
    }
    &__item {
        position: relative;
        transition: all .3s ease-in-out;
        &.active {
            &::before {
                display: none;
                transition: all .1s ease-in-out;
            }
            background-color: #fff;
            transition: all .3s ease-in-out;
        }
        &:not(:last-child) { 
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 24px;
                background-color: rgba(88, 114, 83, .478);
                transition: all .1s ease-in-out;
            }
              
        }
        &:first-child {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
        }
        &:last-child {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
        &:hover {
            &::before {
                display: none;
                transition: all .1s ease-in-out;
            }
            background-color: rgba(255, 255, 255, .9);
            transition: all .3s ease-in-out;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        padding: 11px 60px;
        text-decoration: none;
        transition: all .3s ease-in-out;
        
    }
    
}

.page-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 49px 0;
    &__age {
        display: inline-flex;
        background-color: #fff;
        padding: 8px 12px 8px 18px;
        margin: 0 0 15px 0;
        border-radius: 16px;
        .age-filter {
            &__link {
                border: 2px dotted #344d2f;
                &.active {
                    color: #fff;
                    background-color: #344d2f;
                }
                &:hover {
                    &.active {
                        border: 2px dotted transparent;
                    }
                }
            }
        }
    }
    &__selection {
        display: inline-flex;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 8px 12px 8px 18px;
        margin: 0 0 15px 0;
        border-radius: 16px;
        &-container {
            display: flex;
            flex-wrap: wrap;
        }
        &:first-child {
            margin: 0 25px 15px 0;
        }
    }
}