.welcome-projects {
    padding: 35px 0 50px 0;
    .section {
        &__header {
            margin: 0 0 48px 0;
        }
        &__more {
            &:hover {
                color: #fff;
                background-color: #3f593a;
            }
        }
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #344d2f;
        margin: 0 0 30px;
        &__title {
            margin: 0 0 15px 0;
            overflow: hidden; /* Дополнительно включаем для подстраховки */
            display: -webkit-box; /* Задаем блочный элемент */
            -webkit-box-orient: vertical; /* Сопутствующий класс */
            -webkit-line-clamp: 3; /* Кол-во строк */
        }
        &__content {
            box-shadow: 0px 16px 48px 0px rgba(195, 195, 195, 0.24);
        }
        &__text {
            overflow: hidden; /* Дополнительно включаем для подстраховки */
            display: -webkit-box; /* Задаем блочный элемент */
            -webkit-box-orient: vertical; /* Сопутствующий класс */
            -webkit-line-clamp: 3; /* Кол-во строк */
        }
        &:hover {
            .card__image {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    &__card {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        max-height: 447px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
        text-decoration: none;
        transition: all .15s ease-in-out;
        &:hover {
            .welcome-projects__card-content {
                background-color: rgba(44, 65, 40, 1);
                transition: all .3s ease-in-out;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 345px;
            width: 100%;
            background-color: rgba(44, 65, 40, .8);
            padding: 60px 40px 60px 30px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            transition: all .3s ease-in-out;
        }
        &-badge {
            display: flex;
            align-items: center;
            height: 32px;
            font-weight: 900;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.06em;
            color: #344d2f;
            padding: 0 20px 0 20px;
            border-radius: 16px;
            background-color: #fff;
            text-transform: uppercase;
            margin: 0 0 20px 0;
        }
        .card {
            &__title {
                color: #fff;
                overflow: hidden; /* Дополнительно включаем для подстраховки */
                display: -webkit-box; /* Задаем блочный элемент */
                -webkit-box-orient: vertical; /* Сопутствующий класс */
                -webkit-line-clamp: 2; /* Кол-во строк */
            }
            &__text {
                color: #fff;
                overflow: hidden; /* Дополнительно включаем для подстраховки */
                display: -webkit-box; /* Задаем блочный элемент */
                -webkit-box-orient: vertical; /* Сопутствующий класс */
                -webkit-line-clamp: 3; /* Кол-во строк */
            }
    }
    }
    
}
  